<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand font-monospace d-inline-flex align-items-center" href="/">
            <img src="/assets/images/avatar.png"
                 width="48" height="48"
                 class="rounded-circle me-3" alt=""/>
            <h1 class="mb-0">
                {% include rainbowify.html text=site.title %}
            </h1>
        </a>
        <button id="global-navbar-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#global-navbar" aria-controls="global-navbar" aria-expanded="true"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse show" id="global-navbar">
            <script type="text/javascript">
                // Purposefully render blocking to collapse the navbar before it renders in the case of JS-enabled
                document.getElementById("global-navbar-toggler").ariaExpanded = "false";
                document.getElementById("global-navbar").classList.remove("show");
            </script>
            <ul class="navbar-nav mr-auto nav-underline">
                {% for navpage in site.data.navbar %}
                {% assign class_names = "nav-link" %}
                {% assign sr_current = "" %}
                {% if navpage.url == page.url %}
                {% assign class_names = class_names | append: " active" %}
                {% assign sr_current = '<span class="sr-only">(current)</span>' %}
                {% endif %}
                <li class="nav-item">
                    <a class="{{ class_names }}" href="{{ navpage.url }}">
                        {{ navpage.title }}{{ sr_current }}
                        {% if navpage.external %}
                        <span class="fa-solid fa-external-link"></span>
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
