<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="{{ site.description }}"/>

    <!-- We're going to need it for the fonts -->
    <link rel="preconnect" crossorigin="anonymous" href="https://fonts.googleapis.com">
    <link rel="preconnect" crossorigin="anonymous" href="https://proprietary-webfonts.octyl.net/">

    <!-- Feed Metadata -->
    {% feed_meta %}

    <!-- OpenGraph metadata -->
    <meta property="og:title" content="{{ site.title }} - {{ page.title }}">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="/assets/images/og_image.png">

    <!-- Font CSS -->
    {% if site.data.env.berkeley-mono-base %}
        <link rel="stylesheet" href="/assets/css/berkeley-mono-include.css" crossorigin="anonymous">
    {% endif %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap-setup.css" crossorigin="anonymous">

    <!-- Lower-priority personalization CSS -->
    {% include defer-css.html url="/assets/css/rainbow.css" %}
    {% include defer-css.html url="/assets/css/tiling.css" %}
    {% include defer-css.html url="/assets/css/code-blocks.css" %}

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="/assets/css/fontawesome.css" crossorigin="anonymous">

    <link rel="icon" type="image/png"
          href="https://ipfs.octyl.net/ipfs/QmPg7GwVsJSth7MvLur9RgA2PZ4dB88zE2m2h5DYC2QSh7?filename=circle_pfp.png">

    <title>{{ site.title }} - {{ page.title }}</title>

    <script defer src="/assets/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</head>
<body class="min-vh-100 d-flex flex-column">
<a class="sr-only sr-only-focusable" href="#main">Skip to main</a>
{% include navbar.html %}
<div id="main-and-bordering" class="flex-grow-1 d-flex">
    <div class="bg-tiled flex-grow-1"></div>
    {{ content }}
    <div class="bg-tiled flex-grow-1"></div>
</div>
<div class="flex-shrink-0">
    {% include footer.html %}
</div>
<script>
    if (window.location.hostname.endsWith(".gay") || window.location.hash === "#gay") {
        for (let elem of document.getElementsByClassName("rainbow")) {
            elem.classList.remove("rainbow-purple");
            elem.classList.add("rainbow-full");
        }
    }
</script>
</body>
</html>
