<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="The internet home of Octavia Togami / @octylFractal"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap-setup.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/rainbow.css" crossorigin="anonymous">

    <title>{{ site.title }} - {{ page.title }}</title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/89723ff644.js" crossorigin="anonymous"></script>
</head>
<body class="min-vh-100 d-flex flex-column wait-for-icons">
<a class="sr-only sr-only-focusable" href="#main">Skip to main</a>
{% include navbar.html %}
<main id="main" class="container p-3 flex-grow-1 flex-shrink-0" style="flex-basis: auto">
    {{ content }}
</main>
<div class="flex-shrink-0">
{% include footer.html %}
</div>
<script>
    if (window.location.hostname.endsWith(".gay") || window.location.hash === "#gay") {
        for (let elem of document.getElementsByClassName("rainbow")) {
            elem.classList.remove("rainbow-purple");
            elem.classList.add("rainbow-full");
        }
    }
</script>
</body>
</html>
