---
layout: page
---
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h2 class="h4">{{ page.title }}</h2>
        <div class="row justify-content-center text-center">
            <div class="col col-auto">
                <span class="text-muted">posted on {{ page.date | date: "%F at %T %z" }}</span>
            </div>
            <div class="col col-auto">
                <div>
                    <a href="/feed.xml" class="btn btn-sm btn-primary"><span class="fa-solid fa-rss"
                                                                             title="Atom/RSS Feed"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        {{ content }}
    </div>
    <div class="card-footer">
        <nav aria-label="Post navigation">
            <div class="d-flex justify-content-between">
                <div>
                    {% include pagination-button.html title="Previous" url=page.previous.url %}
                </div>
                <div>
                    {% include pagination-button.html title="Next" url=page.next.url %}
                </div>
            </div>
        </nav>
    </div>
</div>
