---
layout: page
---
<div class="card">
    <div class="card-header">
        <nav class="d-flex justify-content-between align-items-center" aria-label="Post navigation">
            <div class="me-3">
                {% include pagination-button.html direction="left" title="Previous Post" url=page.previous.url %}
            </div>
            <h2 class="h4 flex-grow-1 mb-0 me-3 text-break">{{ page.title }}</h2>
            <div>
                {% include pagination-button.html direction="right" title="Next Post" url=page.next.url %}
            </div>
        </nav>
    </div>
    <div class="card-body">
        {{ content }}
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between">
            <span class="text-muted">posted on {{ page.date | date: "%F at %T %z" }}</span>
            <div>
                <a href="/feed.xml" class="btn btn-primary"><span class="fa-solid fa-rss"
                                                                  title="Atom/RSS Feed"></span> RSS</a>
            </div>
        </div>
    </div>
</div>
